.search{
  width: 670rpx;
  height: 120rpx;
  margin-left: 48rpx;
  margin-right: 48rpx;
  margin-top: 54rpx;
  object-fit: fill;
  
}

.search image {
  width: 670rpx;
  height: 120rpx;
}

.listmusic {
  width: 670rpx;
  height: 100%;
  margin-left: 48rpx;
  margin-right: 48rpx;
  margin-top: 84rpx;
  display: flex;
  flex-direction: column;
}

.listmusic text {
  font-size: 15;
  margin: 15rpx;
}

.listmusic image {
  width: 670rpx;
  height: 176rpx;
  margin-top: 26rpx;
}